body{
	width:100%;
	background-image: url("../a.jpg");
	background-position: center;
	background-color: grey;
}
div#container{
	position: relative;
	width:90%;
	height:90%;
	margin:0 auto;
	background-repeat: no-repeat;
}
div#opt_in, div#opt_out, div#dial_pad, div#confirm_out_opt{
	position: relative;
	background-color:white;
	top:20%;
	width:90%;
	margin:0 auto;
	border-radius:5px;
	padding:2% 2% 2% 2%;
}
div#ussd_txtbox{
	width:70%;
}
button.btn{
	margin-right:10px;
	border:0px;
}
div#ussd_content hr{
	margin:2px 2px 10px 2px;
}
p{
	font-size: 85%;
	font-family: calibri;
}
li{
	list-style: none;
}
#switch img{
	width:100%;
	height:auto;
}
#switch{
	width:20%;
}
input{
	border:0px;
}